[Unit]
Description=Simeis Rust API Server
After=network.target

[Service]
User=simeis
Group=simeis
ExecStart=/usr/bin/simeis-server
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
